@model CompanyDisplayVM
<div>
    <h6>@Model.Message</h6>
    Support E-mail: <strong>@Model.Email</strong><br />
    Company Name: <strong>@Model.CompanyName</strong><br />
    <p>@Model.Cookie</p>
</div>
